.menu__button-container {
  width: 250px;
  min-height: 46px;

  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu__button-container:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.45);
}