.menu__sub-menu {
  list-style: none;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 10px;


  margin: 0;
  margin-top: -11px;
  padding: 10px ;
  box-sizing: border-box;

  background-color: #e0e0e0;
  width: 250px;
  min-height: 100px;
  box-sizing: border-box;

  border-radius: 8px;

  transition: 0.5s;
}