.sub-menu 
{ 
   display: none; 
}
 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: flex; 
} 

.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 13px;

   margin: 0;
   padding: 0;

   padding-bottom: 25px;
}